{% extends 'lyricsite/base.html' %}
{% load static %}
{% block content %}


<!-- content -->
      <div id="lyrics-content" class="row">
        <div class="indent">
          <h2>{{article.title}}</h2>
          <div class="img-box1"><img src="{% static 'lyricapp/images/4page-img.jpg' %}" alt="" />
            <p>
                {{article.content|safe}}
            </p>
          </div>
        </div>
        <div class="inner_copy">More <a href="#">etmedia</a> @ lyrics.com!</div>
      </div>
    </div>
  </div>

{% endblock %}