{% extends 'lyricsite/base.html' %}
{% load static %}
{% block content %}


<!-- content -->

<section id="article">
  <div class="container">
    <div class="title-box">
      <h2>
        {{article.title}}
        <hr>
      </h2>
    </div>
    <div class="content">
      <div>
          <h3>
            Lyrics:
          </h3>
          <br>
        <p>
          {{article.content|safe}}
        </p>
      </div>
      <br>
      <hr>
    </div>
    <div class="youtube">
      <iframe src="https://www.youtube.com/embed/?v=x1hw8xW4pgo controls=1" frameborder="1"></iframe>
    </div>
  </div>
  


</section>


{% endblock %}
