{% extends 'lyricsite/base.html' %}
{% load static %}
{% block content %}

<!-- content -->

{% include "lyricsite/nav-bar-solid.html" %}

<section id="explore">
  <section id="discover">
    <div class="container">
      <div>
        <h1 class="title">
          Latest Songs
          <hr>
        </h1>
      </div>

      <div class="card-container">

        {% for article in ltpos %}
        <a href="{% url 'article' article.slug %}">
          <div class="card">
            <h3>
              {{ article.title }}
            </h3>
            <h4>
              Singer: XYZ
            </h4>
          </div>
        </a>
        {% endfor %}

      </div>
    </div>
  </section>


  <section id="song-dump">
    <div class="container">
      <div>
        <h1 class="title">
          All Songs
          <hr>
        </h1>
      </div>
      <div class="category-list">
        <ul class="list">{% for article in articles %}
          <a href="{%url 'article' article.slug %}">
            <li class="item"><b>
                <h3>{{article.title}}</h3>
                <p>{{article.singer}}</p>
            </li>
          </a>
          {% endfor %}
        </ul>
      </div>

      <div class="paginate">
        {% if articles.has_other_pages %}
        <ul class="page-numbers">
          {% if articles.has_previous %}
          <li><a href="?page={{ articles.previous_page_number }}">&laquo;</a></li>
          {% else %}
          <li class="disabled"><a>&laquo;</a></li>
          {% endif %}
          {% for i in articles.paginator.page_range %}
          {% if articles.number == i %}
          <li class="active"><a>{{ i }} </a></li>
          {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
          {% endfor %}
          {% if articles.has_next %}
          <li><a href="?page={{ articles.next_page_number }}">&raquo;</a></li>
          {% else %}
          <li class="disabled"><span>&raquo;</span></li>
          {% endif %}
        </ul>
        {% endif %}
      </div>
    </div>
  </section>
</section>

{% endblock %}
