{% extends 'lyricsite/base.html' %}
{% load static %}
{% block content %}
<!-- content -->
<!--
    <div id="content">
        <div class="indent">
          <h2>Article 1</h2>
          <ul class="list p1">{% for article in articles %}
            <li><img src="{% static 'lyricapp/images/3page-img1.jpg' %}" alt=""/><b>{{article.title}}</b>{{article.content|slice:":104"|safe}}<br />
              <a href="{% url 'article' article.slug %}">Read More &gt;&gt;</a></li>
            {% endfor %}
          </ul>
          <div class="link"><a href="#">All Articles &gt;&gt;</a></div>
        </div>
        <div class="inner_copy">More <a href="#">Website music</a> @ Lyrics</div>
      </div>
      -->

<section id="search">
  <div class="container">
    <div class="title-box">
      <h2>
        Search Results
        <hr>
      </h2>
    </div>
    <div class="content">
      {% for result in articles %}
      <div class="result">
        <a href="{% url 'article' result.slug %}"> <h3> {{result.title}} </h3></a>
        <p>
          Singer
        </p>
      </div>
      {% endfor %}
      <div class="button">
        <a href="{% url 'explore' %}"> All Lyrics</a>
      </div>
    </div>

  </div>
</section>


{% endblock %}
