{% extends 'lyricsite/base.html' %}
{% load static %}
{% block content %}
<!-- content -->

{% include "lyricsite/nav-bar-solid.html" %}
<section id="search">
  <div class="container">
    <div class="title-box">
      <h2>
        Search Results
        <hr>
      </h2>
    </div>
    <div class="content">
      <div class="results">
        <ul class="list">
          {% for result in articles %}
          <a href="{%url 'article' result.slug %}">
            <li class="item"><b>
                <h3> {{result.title}} </h3>
                <h3> {{result.singer}} </h3>
                <hr>
                <p> {{result.content|safe|truncatewords:30}} </p>

            </li>
          </a>
          {% endfor %}
        </ul>
      </div>
      <div class="result-related">
        <h4>Find More</h4>
        {% for article in discover %}
        <ul>
          <li>
            <a href="{% url 'article' article.slug %}">
              <p>
                {{ article.title }}
              </p>
              <p>
                {{ article.singer }}
              </p>
            </a>
          </li>
        </ul>
        {% endfor %}
      </div>
    </div>
    <div class="discover-btn">
      <a href="{% url 'explore' %}"><button> All Lyrics</button> </a>
    </div>

  </div>
</section>


{% endblock %}